<footer class="site-footer">
  <div class="footer-links">
    <a href="/about.html">About</a>
    <a href="/career">Careers</a>
    <a href="/privacy.html">Privacy</a>
    <a href="/contact.html">Contact</a>
  </div>

  <div class="social-icons">
    <a href="#"><img src="/icons/facebook.svg" alt="Facebook"></a>
    <a href="#"><img src="/icons/twitter.svg" alt="Twitter"></a>
    <a href="#"><img src="/icons/instagram.svg" alt="Instagram"></a>
  </div>

  <p class="copyright">© 2025 IYAOAA TECH</p>
</footer>
